*.vagrant
*.json
*.bz2
*.pickle
*.pyc
*.bak
*.log
*.aux
*.pptx
*.pdf
*.png
*.out
*.blg
*.bbl
*.pcap
*.checkpoint*
*.DS_Store
.idea/
data/anon_all_flows_1min.csv.tar.gz
data/anon_all_flows_1min.csv/
data/anon_all_flows_5min.csv.tar.gz
data/anon_all_flows_5min.csv/
pycallgraph.png
query_cost_transit_1.pickle
results/
